In [1]:
import pandas as pd
import numpy as np

In [2]:
def load_data(env, maple):
    env_df = pd.read_csv(env).copy()
    maple_df = pd.read_csv(maple).copy()

    maple_df.drop("STATE", axis=1, inplace=True)
    env_df.rename(columns={"DATE": "YEAR"}, inplace=True)
    env_df['COUNTY'] = env_df['COUNTY'].str.upper() 

    cols_to_add = set(list(maple_df.columns) + list(env_df.columns))
    df = pd.DataFrame(columns=cols_to_add)

    return env_df, maple_df, df

def merge_data(env, maple, merged):
    # group each dataframe by county and year
    maple_groupby = maple.groupby(["COUNTY", "YEAR"])
    env_groupby = env.groupby(["COUNTY", "YEAR"])
    counties_groupyby = env.groupby("COUNTY")

    # loop through all the counties
    for county in maple["COUNTY"].unique():
        # get the county maple data
        county_data = maple[maple["COUNTY"] == county]
        # for each year in the maple data, find if it has env data
        for year in county_data["YEAR"].unique():
            # check if there's env data for that county at that year
            env_county_years = counties_groupyby.get_group(county)["YEAR"].unique()
            if county in env["COUNTY"].unique() and year in env_county_years:
                env_group = env_groupby.get_group((county.upper(), year))
                # get the correct maple syrup data
                maple_group = maple_groupby.get_group((county, year))

                # construct the merged row
                new_row = dict()
                for col in env.columns:
                    new_row[col] = env_group[col].values[0]
                for col in maple.columns:
                    new_row[col] = maple_group[col].values[0]

                # add to the merged dataframe
                merged = merged.append(new_row, ignore_index=True)
    
    return merged

def reorder_columns(df):
    cols = ['YEAR', 'COUNTY', 'OPERATIONS WITH TAPS', 'OPERATIONS WITH SALES', 'NUMBER OF TAPS', 'SALES', 'PRODUCTION', 'TAVG', 'FZF9', 'HTDD', 'DX32', 'FZF5', 'EMXP', 'SNOW', 'TMIN', 'DX70', 'FZF0', 'EMNT', 'FZF4', 'FZF6', 'FZF2', 'DX90', 'EMXT', 'CDSD', 'PRCP', 'FZF7', 'TMAX', 'FZF8', 'DT32', 'DT00', 'CLDD', 'FZF3', 'FZF1']
    df = df[cols]
    return df

In [ ]:
env, maple, df = load_data(clustering_data, maple_data)

In [ ]:
# group each dataframe by county and year
maple_groupby = maple.groupby(["COUNTY", "YEAR"])
env_groupby = env.groupby(["COUNTY", "YEAR"])
counties_grp = env.groupby("COUNTY")

In [ ]:
# Testing for Addison
counties_grp = env.groupby("COUNTY")
counties = counties_grp.indices.keys()
for year in county_data["YEAR"].unique():
    
    for county in counties:
    county_grp = counties_grp.get_group(county)
    county_years = county_grp["YEAR"].unique()

#addison_grp["YEAR"].unique()

In [ ]:
# loop through all the counties
for county in maple["COUNTY"].unique():
    # get the county maple data
    county_data = maple[maple["COUNTY"] == county]
    # for each year in the maple data, find if it has env data
    for year in county_data["YEAR"].unique():
        # check if there's env data for that county at that year
        env_county_years = counties_grp.get_group(county)["YEAR"].unique()
        if county in env["COUNTY"].unique() and year in env_county_years:
            env_group = env_groupby.get_group((county.upper(), year))
            # get the correct maple syrup data
            maple_group = maple_groupby.get_group((county, year))

In [ ]:
# loop through all the counties
for county in maple["COUNTY"].unique():
    # get the county data
    county_data = maple[maple["COUNTY"] == county]
    for year in county_data["YEAR"].unique():
        if county in env["COUNTY"].unique() and year in env["YEAR"].unique():
            # get the related environmental data
            env_group = env_groupby.get_group((county.upper(), year))
            # get the correct maple syrup data
            maple_group = maple_groupby.get_group((county, year))

            # construct the merged row
            new_row = dict()
            for col in env.columns:
                new_row[col] = env_group[col].values[0]
            for col in maple.columns:
                new_row[col] = maple_group[col].values[0]

            # add to the merged dataframe
            df = df.append(new_row, ignore_index=True)
df

In [3]:
# predictions_data = "../../data/cleaned/environment/cleaned environment data - predictions.csv"
clustering_data = "../../data/cleaned/environment/cleaned environment data - clustering.csv"
maple_data = "../../data/cleaned/maple/cleaned county data.csv"

#merged_predictions_data = merge_data(*load_data(predictions_data, maple_data))
#merged_predictions_data = reorder_columns(merged_predictions_data)
#merged_predictions_data.to_csv("../../data/cleaned/merged data - predictions.csv", index=False)

merged_clustering_data = merge_data(*load_data(clustering_data, maple_data))
merged_clustering_data = reorder_columns(merged_clustering_data)
merged_clustering_data.to_csv("../../data/cleaned/merged data - clustering.csv", index=False)

In [4]:
merged_clustering_data

,YEAR,COUNTY,OPERATIONS WITH TAPS,OPERATIONS WITH SALES,NUMBER OF TAPS,SALES,PRODUCTION,TAVG,FZF9,HTDD,...,CDSD,PRCP,FZF7,TMAX,FZF8,DT32,DT00,CLDD,FZF3,FZF1
0,2017,ADDISON,82,82.0,"308,392","3,469,000","131,899",54.600000,11.500000,7464.000000,...,313.5,51.110000,18.000000,34.250000,11.500000,160.0,20.5,313.5,18.000000,24.500000
1,2012,ADDISON,91,90.0,"153,050","1,290,000","34,809",58.200000,7.000000,6287.000000,...,542.0,39.540000,23.000000,37.000000,18.000000,146.0,5.0,542.0,16.000000,24.000000
2,2007,ADDISON,92,NaN,"146,342",NaN,"37,244",45.650000,10.000000,6991.000000,...,538.5,41.260000,24.000000,56.550000,13.000000,158.5,27.0,538.5,18.500000,25.500000
3,2002,ADDISON,98,NaN,"100,698",NaN,"24,681",44.854545,10.090909,7709.636364,...,509.5,43.132727,21.727273,55.790909,18.727273,97.0,9.5,85.0,17.000000,24.727273
4,1997,ADDISON,87,NaN,"100,904",NaN,NaN,45.600000,15.000000,7038.000000,...,375.0,30.285000,20.000000,56.300000,20.000000,170.0,12.0,375.0,19.000000,28.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,2017,WINDSOR,137,137.0,"247,707","2,401,000","75,698",57.000000,13.000000,7072.000000,...,367.0,51.125000,22.000000,34.400000,17.000000,159.0,16.0,367.0,19.000000,27.000000
66,2012,WINDSOR,188,186.0,"301,451","1,936,000","52,241",59.400000,2.000000,6534.000000,...,479.0,38.960000,23.000000,36.400000,20.000000,164.0,9.0,479.0,18.000000,24.000000
67,2007,WINDSOR,174,NaN,"301,940",NaN,"55,986",44.000000,14.000000,7434.000000,...,372.0,45.660000,22.000000,55.800000,14.000000,181.0,28.0,372.0,19.000000,23.500000
68,2002,WINDSOR,211,NaN,"249,619",NaN,"60,530",44.382609,10.739130,7290.108696,...,456.5,49.020000,22.782609,55.806522,17.413043,99.5,12.3,90.0,17.586957,280.000000
69,1997,WINDSOR,205,NaN,"232,668",NaN,NaN,43.300000,11.500000,7667.000000,...,228.5,44.420000,23.500000,54.950000,18.500000,185.5,14.5,228.5,18.500000,26.500000